.Users{
  & .usr-usersList{
    box-shadow: 1px 1px 5px 0px var(--lightgrey);
    & .usr-userCard{
      border-bottom: 0.7px solid var(--lightgrey);
      &:last-child{
        border-bottom: none;
      }
      & .usr-detailContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        width: 120px;
        & .usr-datailTop{
          height: 50px;
          display: flex;
          align-items: center;
          & svg{
            width: 25px;
            height: 25px;
          }      
        }
        & .usr-datailText{
          font-size: 12px;
          color: var(--lightgrey);
          text-align: center;
        }
      }
    }
  }
  
}
