.Orders{
  & .od-orderCell{
    font-size: 14px;
    color: var(--stronggrey);
  }
  & .od-deliveryButton, .od-paymentButton{
    &.MuiButton-outlined{
      height: 25px;
      font-size: 12px;
      text-transform : none;
      line-height: normal;
      padding: 5px 10px;
      & .MuiButton-label{
        font-weight: 500;
        white-space: nowrap;
      }
    }
    &.Mui-disabled{
      opacity: 0.6;
    }
  }
  & .od-deliveryButton.MuiButton-outlined{
    border-color: var(--strongorange);
    & .MuiButton-label{
      color: var(--strongorange);
    }
    &:hover{
      background-color: var(--strongorange);
      & .MuiButton-label{
        color: var(--white);
      }
    }
  }
  & .od-paymentButton.MuiButton-outlined{
    border-color: var(--green);
    & .MuiButton-label{
      color: var(--green);
    }
    &:hover{
      background-color: var(--green);
      & .MuiButton-label{
        color: var(--white);
      }
    }
  }
  & .od-dateCell{
    font-size: 12px;
    font-weight: 300;
    color: var(--grey)
  }
}