.DeliveryOrder{
  position: relative;
  & .do-docContainer{
    overflow-y: scroll;
    max-height: 80vh;
  }
  & .do-printButton{
    position: absolute;
    bottom: 20px;
    right: 20px;
    & .MuiFab-label{
      color: var(--blue)
    }
  }
}