

.Form{
  & .frm-error{
    max-height: 0;
    transition: all 0.6s linear 0s;
    &[visible=true]{
      max-height: 15px;
      transition: all 0.6s linear 0s;
    }
  }
  & .frm-inputField{ 
    width: 100%;   
    & .frm-outlineInput{
      & .frm-input{
        height: 1em;
        font-size: 14px;
        font-weight: 500;
        color: var(--stronggrey)
      }
      & .frm-notchedOutlineInput{
        border-color: var(--lightgrey);
        border-width: 0.7px;
      }
      &:hover{
        & .frm-notchedOutlineInput{
          border-color: var(--blue);
          border-width: 1px;
        }
      } 

    }
    & .frm-focusedOutlineInput{
      & .frm-notchedOutlineInput{
        border-color: var(--blue);
        border-width: 0.7px;
      }
    } 
    & .frm-inputLabel{
      color: var(--grey);
      font-size: 14px;
    }
    & .frm-focusedInputLabel{
      color: var(--blue);
      font-weight: bold;
    }
    & .frm-error{
      max-height: 0;
      transition: all 0.6s linear 0s;
    }
    &[witherror=true]{
      & .frm-error{
        max-height: 15px;
        transition: all 0.6s linear 0s;
      }
    }
  }
  & .frm-button{
    height: 40px;
    border: none;
    outline: none;
    &:hover{
      box-shadow: 2px 2px 3px 0px #9b9b9b;
    }
    &:disabled{
      opacity: 0.7;
    }
    
  }
}