:root {
  --purple:rgb(10, 119, 170); //#5E72E3;
  --lightpurple: rgb(68, 170, 218);//rgb(131, 146, 228);
  --strongpurple:rgb(6, 109, 156);//rgb(76, 99, 231);
  --grey : #9FA1AA;
  --lightgrey: #CCD1D5;
  --stronggrey:#3a383a;
  --white: #ffffff;
  --light:#FCF9F9;
  --dark:#222121;
  --red:#D8115F;
}

.cpurple{
  color:var(--purple)
}

.clightpurple{
  color:var(--lightpurple)
}

.cstrongpurple{
  color:var(--strongpurple)
}

.cgrey{
  color:var(--grey)
}

.clightgrey{
  color:var(--lightgrey)
}

.cstronggrey{
  color:var(--stronggrey)
}

.cwhite{
  color:var(--white)
}

.clight{
  color:var(--light)
}

.cdark{
  color:var(--dark)
}

.cred{
  color: var(--red)
}

.bpurple{
  background-color:var(--purple)
}

.blightpurple{
  background-color:var(--lightpurple)
}

.bstrongpurple{
  background-color:var(--strongpurple)
}

.bgrey{
  background-color:var(--grey)
}

.blightgrey{
  background-color:var(--lightgrey)
}

.bstronggrey{
  background-color:var(--stronggrey)
}

.bwhite{
  background-color:var(--white)
}

.blight{
  background-color:var(--light)
}

.bdark{
  background-color:var(--dark)
}

.bred{
  background-color: var(--red)
}