:root {
  --blue:rgb(10, 119, 170); //#5E72E3;
  --lightblue: rgb(68, 170, 218);//rgb(131, 146, 228);
  --strongblue:rgb(2, 68, 99);//rgb(76, 99, 231);
  --grey : #9FA1AA;
  --lightgrey: gainsboro;
  --stronggrey:#4F4C4C;
  --green: rgb(21, 190, 49);
  --stronggreen:rgb(1, 116, 20);
  --white: #ffffff;
  --light:#FCF9F9;
  --dark:#222121;
  --red:rgb(245, 45, 10);
  --orange : orange;
  --strongorange : rgb(212, 143, 14);
}

.cblue{
  color:var(--blue)
}

.clightblue{
  color:var(--lightblue)
}

.cstrongblue{
  color:var(--strongblue)
}

.cgrey{
  color:var(--grey)
}

.clightgrey{
  color:var(--lightgrey)
}

.cstronggrey{
  color:var(--stronggrey)
}

.cgreen{
  color: var(--green)
}

.cwhite{
  color:var(--white)
}

.clight{
  color:var(--light)
}

.cdark{
  color:var(--dark)
}

.cred{
  color: var(--red)
}

.bblue{
  background-color:var(--blue)
}

.blightblue{
  background-color:var(--lightblue)
}

.bstrongblue{
  background-color:var(--strongblue)
}

.bgrey{
  background-color:var(--grey)
}

.blightgrey{
  background-color:var(--lightgrey)
}

.bstronggrey{
  background-color:var(--stronggrey)
}

.bgreen{
  background-color: var(--green)
}

.bwhite{
  background-color:var(--white)
}

.blight{
  background-color:var(--light)
}

.bdark{
  background-color:var(--dark)
}

.bred{
  background-color: var(--red)
}