.Catalog{
  & .ctg-buttonContainer{
    position: relative;
    & .ctg-editTooltip{
      position: absolute;
      top: -2px;
      right: 2px;
      padding: 3px;
      background-color: var(--main);
      border : 1px solid var(--white);
      color: white;
      visibility: hidden;
      & .MuiSvgIcon-root{
        font-size: 12px
      }
    }
    &:hover .ctg-editTooltip{
      visibility: visible;
    }
  }
  & .ctg-categories{
    background-color:  var(--white);
    box-shadow: 0px 0px 3px 0px var(--grey);
    & .ctg-categoryButton{
      min-width: unset;
      color: var(--main);
      font-size: 14px;
      text-transform : none;
      line-height: normal;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      & .ctg-categoryButton_label{
        color: var(--grey);
        font-weight: 500;
        white-space: nowrap;
      }
    }
    
    & .ctg-categoryButton_outlined{
      border-color: var(--grey);
      border-width: 0.8px; 
      &:hover{
        border-color: var(--main);
        background-color: rgba(20,182,154, 0.1);
      }
      &[active=true]{
        color: var(--main);
        border-color: var(--main);
        background-color: rgba(20,182,154, 0.1);
        & .ctg-categoryButton_label{
          color: var(--main);
        }
      }
    }
  }
  & .ctg-subCategories{
    & .MuiCircularProgress-root{
      color: var(--main)
    }
    & .ctg-subCategoryButton{
      min-width: unset;
      color: var(--main);
      font-size: 12px;
      text-transform : none;
      line-height: normal;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 10px;
      & .ctg-subCategoryButton_label{
        color: var(--main);
        font-weight: 500;
        white-space: nowrap;
      }
    }
    & .ctg-subCategoryButton_outlined{
      border-color: var(--main);
      border-width: 0.8px; 
      &:hover{
        background-color: rgba(20,182,154, 0.1);
      }
      &[active=true]{
        background-color: rgba(20,182,154, 0.1);
      }
    }
  }
  & .ctg-newButton{
    color: var(--white);
    width: 230px;
    height: 40px;
    font-size: 14px;
    text-transform : none;
    line-height: normal;
    & .ctg-newButton_label{
      color: var(--white);
      font-weight: 500;
    }
  }
  & .ctg-newButton_contained{
    background-color: var(--main);
  }
  & .ctg-productList{
    & .ctg-productCard{
      width: 180px;
      height: 100px;
      padding: 10px;
      background-color: var(--white);
      box-shadow: 0px 0px 3px 0px var(--grey);
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      & img{
        border-radius: 5px;
        object-fit: contain;
      }
      &[active=false]{
        opacity: 0.5;
        & .ctg-productPrice{
          color : var(--grey)
        }
        & img{
          filter: grayscale(100%);
        }
      }
      & .ctg-truncateText{
        white-space: nowrap;
        overflow: hidden;
        max-width: 100px;
        text-overflow: ellipsis;
      }
    }
  }
  & .ctg-catalogStates{
    height: calc(100vh - 230px);
    min-height: 250px;
    border-radius: 5px;
    border: 0.8px solid var(--grey);
    & .MuiCircularProgress-root{
      color: var(--white)
    }
    & .Mui-checked{
      color: var(--green);
      & .MuiSwitch-thumb{
        background-color: var(--green);
      }
    }
    & .Mui-disabled.MuiFormControlLabel-label{
      color: var(--grey)
    }
    & .Mui-checked + .MuiSwitch-track{
      background-color: var(--green);
    }
    & .MuiFormControlLabel-label{
      font-size: 14px;
      color : var(--stronggrey)
    }
    & .ctg-addButton, .ctg-cancelButton{
      padding: 3px;
      color: white;
      width: 20px;
      height: 20px;
      & .MuiSvgIcon-root{
        font-size: 12px
      }
    }
    & .ctg-addButton{
      background-color: var(--main);
      margin-right: 5px;
    }
    & .ctg-cancelButton{
      background-color: var(--orange)
    }
  }

  & .ctg-catalogStates, .ctg-subCategories{
    & .MuiOutlinedInput-root{
      height: fit-content;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      & .MuiOutlinedInput-input{
        height: 1em;
        font-size: 14px;
        font-weight: 500;
        color: var(--stronggrey);
        height: 20px;
        padding: 5px 15px;
      }
      & .MuiOutlinedInput-notchedOutline{
        border-color: var(--lightgrey);
        border-width: 0.7px;
      }
      &:hover{
        & .MuiOutlinedInput-notchedOutline{
          border-color: var(--main);
          border-width: 1px;
        }
      } 
    }
    & .Mui-focused .MuiOutlinedInput-notchedOutline{
      border-color: var(--main);
      border-width: 0.7px;
    }
  }
}